@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-search-result{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
        align-items: center;
    }

    @include desktop(){
        padding: 50px 0;
        align-items: center;
    }

    .konten-search-result{
        display: flex;
        flex-direction: column;
        height: auto;
        line-height: $lineHeight;

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }

        .title-faq-search-result{
            display: flex;
            font-size: 24px;
            color: $color1;
            font-family: "Crimson Text",serif;
            margin-bottom: 20px;

            @include mobile(){
                font-size: 20px;
            }
        }

        .konten-group-search-result{
            border-bottom: 1px solid #ddd;
            margin-bottom: 20px;
        }

        .konten-article-search-result{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            @include tablet(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-article-search-result{
                display: flex;
                width: calc(90%/2);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }

        .konten-publication-search-result{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            @include tablet(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-publication-search-result{
                display: flex;
                width: calc(90%/2);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }

        .konten-doctor-search-result{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-doctor-search-result{
                display: flex;
                width: calc(100%/3);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: calc(90%/2);
                }
            }
        }

        .konten-layanan-and-fasilitas-search-result{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            @include tablet(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-layanan-fasilitas-search-result{
                display: flex;
                width: calc(90%/2);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }

        .konten-promo-search-result{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            @include tablet(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-promo-search-result{
                display: flex;
                width: calc(90%/2);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }

        .konten-career-search-result{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            @include tablet(){
                flex-wrap: nowrap;
                flex-direction: column;
            }

            .column-card-career-search-result{
                display: flex;
                width: calc(90%/2);

                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }
    }
}