@import '../../utils/variable.scss';

.wrapp-pagination{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

    li{
        display: flex;
        list-style: none;
        border-radius: 3px;
        background-color: $color10;
        cursor: pointer;
        padding: 5px 10px;
        color: $color1;
        transition: .3s ease-in-out;
        margin-right: 10px;
        font-size: 14px;
        border: 1px solid $color1;
        &:hover{
            background-color: $color1;
            color: #fff;
        }
    }
}