@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-online-reservation{
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    width: 100%;
    padding: 50px 20%;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
    }

    @include desktop(){
        padding: 50px 0;
    }

    .container-konten-online-reservation{
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;

        @include mobile(){
            flex-direction: column;
        }

        @include tablet(){
            align-items: center;
        }

        @include desktop(){
            align-items: center;
        }

        .column-konten-online-reservation{
            display: flex;
            width: 100%;

            @include mobile(){
                flex-direction: column;
            }

            @include tablet(){
                width: 740px;
            }

            @include desktop(){
                width: 960px;
            }

            .form-kiri-online-rv{
                display: flex;
                flex-direction: column;
                width: 50%;
                background-color: $color10;
                border-radius: 5px;
                padding: 35px;
                margin-right: 20px;
    
                @include mobile(){
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
    
            .form-kanan-online-rv{
                display: flex;
                flex-direction: column;
                width: 50%;
                background-color: $color10;
                border-radius: 5px;
                padding: 35px;
    
                @include mobile(){
                    width: 100%;
                }
    
                .note-form-online-rv{
                    display: flex;
                    text-align: start;
                    font-size: 12px;
                    color: $color1;
                    margin-top: 15px;
                    line-height: $lineHeight;
                }
    
                .container-agree-form-online-rv{
                    display: flex;
                    position: relative;
                    width: 100%;
                    margin: 20px 0;
    
                    .checkbox-agree-form-online-rv{
                        display: flex;
                        position: absolute;
                        height: 15px;
                        width: 15px;
                        border: 1px solid $color2;
                        border-radius: 3px;
                        cursor: pointer;
                        top: 5px;
                        justify-content: center;
                        align-items: center;
    
                        i{
                            font-size: 11px;
                            color: $color1;
                            transition: 0.3s ease-in-out;
                        }
                    }
    
                    .deskripsi-agree-form-online-rv{
                        display: flex;
                        font-size: 12px;
                        color: $color16;
                        text-align: start;
                        line-height: $lineHeight;
                        margin-left: 30px;
                        cursor: pointer;
                    }
                }
    
                .column-btn-form-online-rv{
                    margin-top: 20px;
                }
            }
    
            .container-group-answer{
                display: flex;
                flex-direction: column;
    
                .question-form-kanan-online-rv{
                    display: flex;
                    font-size: 14px;
                    color: $color3;
                    margin: 15px 0 0 0;
                    text-align: start;
                }
    
                .column-indicator-answer{
                    display: flex;
                }
            }
    
            .label-form-online-rv{
                display: flex;
                font-size: 13px;
                color: $color2;
                margin-top: 15px;
            }
    
            .input-form-online-rv{
                display: flex;
                padding: 10px 12px;
                border-radius: 5px;
                border: none;
                outline: none;
                margin-top: 5px;
                font-size: 13px;
                color: $color2;
                background-color: #fff;
                font-family: 'Mulish', sans-serif;
                resize: none;
            }
    
            .error-message-form-online-rv{
                display: flex;
                font-size: 10px;
                color: $color11;
                margin-top: 5px;
            }
        }
    }
}