@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-detail-career{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-size: cover;
    background-image: $color4;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
        align-items: center;
    }

    @include desktop(){
        padding: 50px 0;
        align-items: center;
    }

    .container-detail-career{
        display: flex;
        flex-direction: column;
        width: 100%;

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }

        .main-konten-detail-career{
            display: flex;
            flex-direction: column;
    
            .title-konten-detail-career{
                display: flex;
                font-size: 26px;
                color: $color1;
                font-family: "Crimson Text",serif;
                margin-bottom: 50px;
                line-height: $lineHeight;
                text-align: start;
    
                @include mobile(){
                    font-size: 20px;
                }
            }
        
            .main-deskripsi-detail-career{
                display: flex;
                font-size: 14px;
                color: $color3;
                text-align: start;
                line-height: $lineHeight;
    
                @include mobile(){
                    font-size: $font3;
                }
            }
        
            .title-name-rs-detail-career{
                display: flex;
                font-size: 18px;
                color: $color3;
                font-weight: bold;
                margin: 10px 0 20px 0;
                line-height: $lineHeight;
                text-align: start;
    
                @include mobile(){
                    font-size: 17px;
                }
            }
        
            .hrd-rs-detail-career{
                display: flex;
                font-size: 14px;
                color: $color3;
                line-height: $lineHeight;
                font-weight: bold;
                text-align: start;
    
                @include mobile(){
                    font-size: $font3;
                }
            }
        
            .address-detail-career{
                display: flex;
                font-size: 14px;
                color: $color3;
                line-height: $lineHeight;
                margin: 10px 0;
                text-align: start;
    
                @include mobile(){
                    font-size: $font3;
                }
            }
        
            .email-detail-career{
                font-size: 14px;
                color: $color3;
                line-height: $lineHeight;
                text-align: start;
    
                @include mobile(){
                    font-size: $font3;
                }
    
                .konten-email-detail-career{
                    font-size: 14px;
                    color: $color1;
                    line-height: $lineHeight;
                    cursor: pointer;
                    margin-left: 5px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: 1px solid $color1;
                    }
    
                    @include mobile(){
                        font-size: $font3;
                    }
                }
            }
    
            .container-box-grey-detail-career{
                display: flex;
                width: 100%;
                justify-content: center;
                margin-top: 50px;
    
                .box-grey-detail-career{
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    height: auto;
                    width: 70%;
                    padding: 20px;
                    border-radius: 5px;
                    background-color: transparent;
                    border: 1px solid $color3;
    
                    @include mobile(){
                        width: 100%;
                    }
    
                    .title-bidang-detail-career{
                        display: flex;
                        font-size: 18px;
                        color: $color1;
                        line-height: $lineHeight;
                        text-align: start;
    
                        @include mobile(){
                            font-size: 17px;
                        }
                    }
    
                    .container-date-detail-career{
                        display: flex;
                        align-items: center;
                        margin-top: 10px;
    
                        i{
                            font-size: 14px;
                            color: $color1;
                            margin-right: 5px;
                        }
    
                        .font-detail-career-group{
                            display: flex;
                            font-size: 14px;
                            color: $color3;
                            line-height: $lineHeight;
                            margin-right: 15px;
    
                            @include mobile(){
                                font-size: $font3;
                            }
                        }
                    }
    
                    .qualification{
                        display: flex;
                        font-size: 14px;
                        color: $color1;
                        margin-top: 50px;
    
                        @include mobile(){
                            font-size: $font3;
                            margin-top: 30px;
                        }
                    }
    
                    .deskripsi-job-detail-career{
                        display: flex;
                        text-align: start;
                        font-size: 14px;
                        color: $color3;
                        line-height: $lineHeight;
                        margin: 30px 0 30px 0;
    
                        @include mobile(){
                            font-size: $font3;
                        }
                    }
                }
            }   
        }
    }
}