@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-footer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 40px 0% 0 0%;
    background-color: $color1;
    z-index: 99;

    @include mobile(){
        padding: 20px 0 0 0;
    }

    @include tablet(){
        align-items: center;
    }

    @include desktop(){
        align-items: center;
    }

    .wrapp-menu-footer{
        display: flex;
        width: 100%;

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }

        .container-menu-footer{
            display: flex;
            height: auto;
            width: 100%;
            padding: 0 20% 40px 20%;
    
            @include mobile(){
                flex-wrap: wrap;
                padding: 0 10px 40px 10px;
            }

            @include tablet(){
                padding: 0 0 40px 0;
            }

            @include desktop(){
                padding: 0 0 40px 0;
            }
    
            ul{
                display: flex;
                flex-direction: column;
                height: auto;
                width: calc(100%/4);
    
                @include mobile(){
                    width: calc(100%/2);
                    margin-top: 20px;
                }
    
                .title-menu-footer{
                    display: flex;
                    font-size: 16px;
                    margin-bottom: 15px;
                    color: #fff;
    
                    @include mobile(){
                        justify-content: center;
                    }
                }
    
                .link-page-footer{
                    display: flex;
                    font-size: 14px;
                    margin-bottom: 10px;
                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                    list-style: none;
                    color: #fff;
                    text-decoration: none;
                    &:hover{
                        color: $color3;
                    }
    
                    @include mobile(){
                        font-size: $font3;
                        justify-content: center;
                    }

                    @include tablet(){
                        font-size: $font3;
                    }
                }
            }
        }
    }

    .wrapp-footer-copy-right{
        display: flex;
        width: 100%;
        background-color: $color15;

        @include tablet(){
            justify-content: center;
        }

        @include desktop(){
            justify-content: center;
        }

        .container-footer-copy-right{
            display: flex;
            width: 100%;

            @include tablet(){
                width: 740px;
            }

            @include desktop(){
                width: 960px;
            }

            .footer-copy-right{
                display: flex;
                height: auto;
                width: 100%;
                padding: 13px 20%;
                background-color: $color15;
                align-items: center;
                justify-content: space-between;
        
                @include mobile(){
                    flex-direction: column;
                    padding: 13px 10px;
                }

                @include tablet(){
                    padding: 13px 0;
                }

                @include desktop(){
                    padding: 13px 0;
                }
        
                .title-footer-copy-right{
                    display: flex;
                    font-size: 14px;
                    color: #fff;
        
                    @include mobile(){
                        font-size: 12px;
                    }

                    @include tablet(){
                        font-size: $font3;
                    }
                }
        
                .container-contact-us{
                    display: flex;
                    align-items: center;
        
                    @include mobile(){
                        width: 100%;
                        margin-top: 5px;
                        justify-content: center;
                    }
        
                    ul{
                        display: flex;
                        
                        li{
                            display: flex;
                            margin-left: 15px;
                            font-size: 15px;
                            list-style: none;
                            cursor: pointer;
                            
                            a{
                                text-decoration: none;
                                font-size: 13px;
                                color: #fff;
                                transition: 0.3s ease-in-out;
                                &:hover{
                                    color: $color3;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}