@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-article{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
    }

    @include desktop(){
        padding: 50px 0;
    } 

    .wrapp-card-page-article{
        display: flex;
        width: 100%;

        @include tablet(){
            justify-content: center;
        }

        @include desktop(){
            justify-content: center;
        }
        
        .container-card-page-article{
            display: flex;
            flex-wrap: wrap;
            height: auto;
            width: 100%;
            justify-content: space-between;
    
            @include mobile(){
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: flex-start;
            }

            @include tablet(){
                width: 740px;
            }

            @include desktop(){
                width: 960px;
            }
    
            .column-card-page-article{
                display: flex;
                width: calc(90%/2);
    
                @include mobile(){
                    width: 100%;
                }

                @include tablet(){
                    width: 100%;
                }
            }
        }
    }

    .container-btn-load-more-article{
        display: flex;
        justify-content: center;
    }
}