@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.wrapp-disclaimer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;
    background-size: cover;

    @include mobile(){
        padding: 50px 10px;
    }

    .konten-disclaimer{
        display: flex;
        font-size: 14px;
        color: $color3;
        text-align: justify;
        line-height: $lineHeight;

        @include mobile(){
            font-size: $font3;
        }
    }
}