@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-disclaimer{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;
    background-size: cover;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
        align-items: center;
    }

    @include desktop(){
        padding: 50px 0;
        align-items: center;
    }

    .konten-disclaimer{
        display: flex;
        font-size: 14px;
        color: $color3;
        text-align: justify;
        line-height: $lineHeight;

        @include mobile(){
            font-size: $font3;
        }

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }
    }
}