@import '../../utils/variable.scss';


.column-group-indicator-answer{
    display: flex;
    align-items: center;
    margin-top: 15px;
    
    .indicator-online-rv{
        display: flex;
        height: 15px;
        width: 15px;
        border-radius: 500px;
        border: 1px solid $color2;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        // &:hover{
        //     border: 1px solid $color1;
        //     background-color: $color1;
        // }
    }

    .answer-online-rv{
        display: flex;
        margin-left: 10px;
        margin-right: 20px;
        color: $color16;
        cursor: pointer;
        font-size: 14px;
        transition: 0.3s ease-in-out;
        &:hover{
            color: #000;
        }
    }
}