@import '../../utils/variable.scss';

.wrapp-publication{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;

    .konten-publication{
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        justify-content: space-between;
    }

    .column-btn-publication{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}