@import '../../utils/variable.scss';

.wrapp-loading{
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: $color6;
    justify-content: center;
    align-items: center;

    .circle-loading{
        display: flex;
        height: 50px;
        width: 50px;
        border-radius: 500px;
        border: 2.5px solid $color7;
        border-top: 2.5px solid $color1;
        animation: animation 0.6s ease-in-out infinite;
    }
}

@keyframes animation{
    to{
        transform: rotate(360deg);
    }
}

.wrapp-loading-form{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;

    .circle-loading-form{
        display: flex;
        height: 50px;
        width: 50px;
        border-radius: 500px;
        border: 2.5px solid #fff;
        border-top: 2.5px solid $color1;
        animation: animationForm 0.6s ease-in-out infinite;
    }
}

@keyframes animationForm{
    to{
        transform: rotate(360deg);
    }
}