@import '../../utils/variable.scss';

.wrapp-testimonial{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;

    .konten-testimonial{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: 100%;
        // margin-top: 40px;

        .column-bawah-konten-testimonial{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}