@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

.wrapp-testimonial{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-size: cover;
    background-image: $color4;

    @include mobile(){
        padding: 50px 10px;
    }

    .konten-testimonial{
        display: flex;
        flex-direction: column;
        position: relative;
        height: auto;
        width: 100%;

        .column-bawah-konten-testimonial{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}