@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-banner-header{
    display: flex;
    position: relative;
    height: auto;
    width: 100%;
    padding: 20px 20%;
    background-color: $color1;
    align-items: center;

    @include mobile(){
        padding: 20px 10px;
    }

    @include tablet(){
        padding: 20px 0;
        justify-content: center;
    }

    @include desktop(){
        padding: 20px 0;
        justify-content: center;
    }

    .container-banner-header{
        display: flex;
        width: 100%;
        align-items: center;

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }

        .img-banner{
            display: flex;
            height: auto;
            max-width: 100%;
            object-fit: cover;
            object-position: center;
    
            @include mobile(){
                width: 40px;
            }
        }
    
        .title-banner-header{
            display: flex;
            position: absolute;
            font-size: 34px;
            color: #fff;
            font-family: "Crimson Text",serif;
            text-transform: uppercase;
            text-align: start;
    
            @include mobile(){
                font-size: 20px;
            }
        }
    }
}