@import '../../utils/variable.scss';

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: $mobile) and (max-width: $tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

.wrapp-gallery{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    padding: 50px 20%;
    background-image: $color4;

    @include mobile(){
        padding: 50px 10px;
    }

    @include tablet(){
        padding: 50px 0;
        align-items: center;
    }

    @include desktop(){
        padding: 50px 0;
        align-items: center;
    }

    .konten-gallery{
        display: flex;
        height: auto;
        width: 100%;
        justify-content: space-between;

        @include mobile(){
            flex-wrap: wrap;
        }

        @include tablet(){
            width: 740px;
        }

        @include desktop(){
            width: 960px;
        }

        .box-img-gallery{
            display: flex;
            flex-direction: column;
            width: calc(100%/3);
            margin-right: 20px;

            @include mobile(){
                width: calc(90%/2);
                margin-right: 0;
            }

            .btn-view-img{
                display: flex;
                text-decoration: none;
                height: auto;
    
                .img-konten-gallery{
                    display: flex;
                    height: auto;
                    max-width: 100%;
                    object-fit: cover;
                    vertical-align: middle;
                    margin-right: 20px;
                    margin-bottom: 20px;
                    transition: 0.3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                        -webkit-transform: scale(1.1, 1.1);
                    }
                }
            }
        }
    }

    .column-btn-gallery{
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}